@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@300;600&display=swap');
@import "header";
@import "home";
@import "episodes";
@import "info";
@import "guests";
@import "topics";
@import "footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%title_format {
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color: rgba(6,10,36,1);
    transition: all 0.5s;
}

/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
*/